.mainContent {
    width: 1321px;
    height: 1080px;
    background: url("https://fsy.zhifo.net.cn/fahua/assets/bg-3dKJKWMA.png") no-repeat;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 1281px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.backButton {
    width: 61px;
    height: 61px;
    position: absolute;
    left: 0;
}

.titleWrapper {
    width: 389px;
    height: 104px;
    background: url("https://fsy.zhifo.net.cn/fahua/assets/header-name-NEr3rN5d.png") no-repeat center center / contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.title {
    font-family: cursive;
    font-size: 54px;
    color: #fff;
}

.pages {
    width: 100%;
    height: 916px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
